::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: grey;
}
::-moz-placeholder { /* Firefox 19+ */
  color: grey;
}
:-ms-input-placeholder { /* IE 10+ */
  color: grey;
}
:-moz-placeholder { /* Firefox 18- */
  color: grey;
}

th, td {
  text-align: center;
  vertical-align: center;
}

th {
	background-color: black;
	color: white;
}

th:nth-child(1), td:nth-child(1) {  
	text-align: left;
	width: 100px;
}


th:nth-child(2), td:nth-child(2) {  
	width: 100px;
}


th:nth-child(3), td:nth-child(3) {  
	width: 200px;
}

.allen {
	background-color: #ff4d4d;
	color: white;
	float: left;
	width: 50%;
	width: 100px;
	text-align: center;
}

.holly {
	background-color: #4d4dff;
	color: white;
	float: left;
	width: 50%;
}

option{
	background : transparent;
	width: 100px;
	text-align: center;
}

div#participants_list {
}

.participant_option {
	width: 75px;
    padding: 6px;
    background-color: whitesmoke;
    color: black;
}

.participant_option:hover {
    background-color: lightgray;
}

.select{
	background-color: #70e25f;
}
.select:hover{
	background-color: #70e25f;	
}

.setVisible{
	visibility: hidden;
}

.bodyBox {
	font-family: 'Iceland', cursive;
    border: 1px solid black;
    width: 350px;
    min-height: 500px;
    text-align: center;
    overflow: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#title{

}

#addExpenseRecipt{
	display: none;
}